<div class="w-50 mx-auto bg-white shadow rounded-xl p-6 space-y-6">
    <div class="container">
        <div class="p-5">
            <h3>Add Category</h3>

            <%= form_with model: @category, url: merchant_category_path, local: true, method: :post do |f| %>
                <div class="mb-2">
                    <%= f.label :name, nil, class: "form-label" %>
                    <%= f.text_field :name, class: "form-control" %>
                </div>

                <div class="mb-2">
                    <%= f.label :status, nil, class: "form-label" %>
                    <%= f.select :status, options_for_select([["Active", "active"], ["Inactive", "inactive"]]), 
                        { prompt: '-' },
                        { class: 'form-select form-select-md', aria: { label: 'select status' } } %>
                </div>

                <div class="mb-2">
                    <%= f.hidden_field :user_id, value: current_user.id %>
                </div>

                <div class="mb-2">
                    <%= f.submit "Save", class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>